<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Catalogue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('bookCatalogue') }}">Book Catalogue</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>

    <h2>Books</h2>
    <p>book1</p>
    <p>book2</p>

</body>
</html>