<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Verify Email</h2>
    <form action="/verify_email" method="POST">
        <p>Email Code: <input type="text" name="email code" required /></p>
        <p><input type="submit" value="Verify Email" /></p>
    </form>

</body>
</html>
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Verify Email</h2>
    <form action="/verify_email" method="POST">
        <p>Email Code: <input type="text" name="email code" required /></p>
        <p><input type="submit" value="Verify Email" /></p>
    </form>
</body>
</html>